/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    color: #d4b148;
}

header {
    background-color: rgba(226, 225, 137, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.gallery .images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.gallery img {
    width: 300px; /* Уменьшенный размер картинок */
    height: 300px; /* Уменьшенный размер картинок */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.interactive {
    margin-top: 30px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d3da9b;
    color: rgb(78, 61, 16);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #dbad30;
}

.hidden {
    display: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}